@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row text-center justify-content-center px-4">
            <h1 class="">Bislerium Cafe</h1>
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Login</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
