@inherits LayoutComponentBase

<style>
    .sidebars{
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    }
</style>
<div class="page">
    <div class="sidebars">
        <NavMenu />
    </div>

    <main>
        <div class="top-row text-center justify-content-center px-4">
            <h1 class="">Bislerium Cafe</h1>            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
