@page "/login"

@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<style>
    body{
        height: 70vh; 
    }

    .login {
        border: 1px solid white;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>



<body class="d-flex justify-content-center align-items-center">
    <div class="justify-content-center login">
        <h3>Login Page</h3>
        <div>
            <label for="username">Username:</label><br />
            <input type="text" id="username" @bind="username" /><br />
        </div>

        <div>
            <label for="password">Password:</label><br />
            <input type="password" id="password" @bind="password" />
        </div>
        @if (!string.IsNullOrEmpty(loginErrorMessage))
        {
            <div class="text-danger mt-2">@loginErrorMessage</div>
        }

        <button class="btn btn-primary mt-2 w-100" @onclick="LoginUser">Login</button>
    </div>

</body>


@code {
    private string username;
    private string password;
    public string loginErrorMessage;

    private void LoginUser()
    {        
        if (LoginService.ValidateCredentials(username, password))
        {            
            NavigationManager.NavigateTo("/");        
            NavigationManager.Refresh();
        }
        else
        {
            {
                // Display error message
                loginErrorMessage = "Invalid username or password.";
            }
        }
    }
}
