@page "/membership"
@inject BisleriumCafe.Data.Services.CustomerMembershipService CustomerMembershipService
@using BisleriumCafe.Data.Models

<style>
    body {
        height: 70vh;
    }

    .login {
        border: 1px solid white;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }
</style>

<body class="d-flex justify-content-center align-items-center">
    <div class="justify-content-center login">
        
        <div class="container">
            
                    <div class="mb-3">
                        <label for="phoneNumber">Enter Phone Number:</label><br />
                        <input type="text" class="w-100 mt-2" @bind="phoneNumber" placeholder="Enter phone number">
                    </div>
                    <button class="btn btn-primary w-100" @onclick="MakeCustomerMember">Make Member</button>
                    <p class="text-success mt-1">@successMessage</p>
                    <p class="text-danger">@errorMessage</p>
                </div>
            </div>    
</body>

@code {
    private string phoneNumber;
    private string successMessage;
    private string errorMessage;

    private void MakeCustomerMember()
    {        
        if (!string.IsNullOrWhiteSpace(phoneNumber))
        {
            var customer = CustomerMembershipService.MakeCustomerMember(phoneNumber);

            if (customer != null)
            {
                successMessage = $"Customer '{customer.CustomerName}' is now a member!";
                errorMessage = string.Empty;
            }
            else
            {
                errorMessage = "Customer not found with the provided phone number.";
                successMessage = string.Empty;
            }
        }
        else
        {
            errorMessage = "Please enter a phone number.";
            successMessage = string.Empty;
        }
    }
}
